.Counter  h1 {
  font-size: 8rem;
  color: #333;
}
.Counter  button {
  font-size: 2rem;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}
.Counter{
  font-size: 2rem;
  color: #666;
  text-align: center;
  border: 2px solid #a8dadc; /* A nice light blue */
  border-radius: 10px; /* Gently rounded corners */
  padding: 15px; /* Space inside the border */
  background-color: #f1faee; /* A very light background */
  display: inline-block;
}